@font-face {
  font-family: "raleway";
  src: url("Police/Raleway-VariableFont_wght.ttf");
}

body,
button {
  font-family: "raleway", sans-serif;
  margin: auto;
}

#bloc_page {
  width: 1100px;
  margin: auto;
}

ul {
  list-style-type: none;
}

/* ---HEADER--- */
header nav {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  width: auto;
  justify-content: space-between;
  align-items: right;
}

header nav a img {
  width: 6.25em;
  padding-right: 35em;
}

header nav a {
  color: black;
  text-decoration: none;
  padding-right: 1.20em;
  padding-left: 1.20em;
  padding-top: 1.4em;
}

header nav .trait:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

header nav .inscription {
  color: #0065fc;
  text-decoration: none;
  font-weight: bold;
}

header nav .inscription:hover {
  color: #f2f2f2;
  border: 2px #0065fc solid;
  border-radius: 6em;
  background-color: #0065fc;
}

/* ---MAIN--- */

/* ---RECHERCHE--- */
#recherche {
  display: flex;
}
#recherche p {
  border: 2px solid #f2f2f2;
  border-radius: 1em;
  background-color: white;
  overflow: hidden;
}

#recherche input {
  border: none;
}

.rechercher, .loupe {
  border: 2px solid #0065fc;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
}

#recherche p {
  display: block;
  padding-top: 0.6em;
  padding-bottom: 0.5em;
}

#recherche .indicateur {
  background-color: #f2f2f2;
  border: solid #f2f2f2;
  padding: 1em;
}

#lieu {
  font-size: 1em;
}

.loupe {
  display: none;
}
/* ---FILTRES--- */

#filtres {
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  border-radius: 5em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: white;
}

button .filtresboutton {
  border: 2px solid #f2f2f2;
  border-radius: 2em;
  padding-right: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

button .filtresboutton p {
    margin-left: 0.5em;
    font-weight: bold;
    font-size: 1.1em;
}

#filtres h2 {
    margin-right: 1.2em;
}

button i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 3.125em;
  background-color: #deebff;
  padding: 1.3em;
}

#lieu {
  padding: 0.55em;
}

.bouttons .filtresboutton:hover {
  background-color: #DEEBFF;
}

.info i {
  border: 1px solid #f2f2f2;
  border-radius: 4em;
  padding: 1em;
  color: #0065fc;
  font-size: 0.8em;
}

.info .texteinfo {
  margin: 1em;
}

.btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ---HEBERGEMENTS + POPULAIRES--- */

#hebergements {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 46.25em;
}

#hebergements h2,
.afficherplus {
  margin: 0em 0em 0em 1.25em;
}

.afficherplus {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  color: black;
  margin-top: 1em;
}

.afficherplus:hover {
  text-decoration: underline;
  color: #0065fc;
}

#hebergements .conteneur a {
  color: black;
  text-decoration: none;
  font-size: 0.7em;
  line-height: 50%;
}

#hebergements img {
  width: 20em;
  height: 10em;
  object-fit: cover;
}

.div-heb {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}


#hebergements .conteneur {
  border-radius: 1em;
  border: 5px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
}

#hebergements .conteneur:hover {
  background-color: #deebff;
  border-color: #deebff;
}
#hebergements .resume {
  margin-left: 1em;
  margin-bottom: 0.1em;
}

.conteneur {
  border-radius: 1em;
  border: 5px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
  margin-top: 2em;
}

#populaires {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 0.6em;
  height: 40em;
  width: 21em;
}

.colomne {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 29.375em;
  align-items: center;
}

#populaires img {
  width: 10em;
  height: 12em;
  object-fit: cover;
}

.conteneur_bis a {
  display: flex;
  flex-direction: row;
}

.conteneur_bis {
  border-radius: 1em;
  border: 5px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
  width: 18.75em;
}

.conteneur_bis:hover {
  background-color: #deebff;
  border-color: #deebff;
}

.titre_pop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#hebergements h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.titre_pop {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.5em;
  margin-top: 1.2em;
}

h6 {
  display: none;
}

#populaires a {
  color: black;
  text-decoration: none;
  font-size: 0.7em;
}

#populaires h2 {
  margin: 1.25em;
}

#populaires .resume {
  margin: 0.6em;
}

.bluestar {
  color: blue;
}

.greystar {
  color: #f2f2f2;
}

#milieu_de_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ---ACTIVITES--- */

.conteneur_act {
  border-radius: 1em;
  border: 0px solid white;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 0px 12px 3px #d2d2d2;
}

.conteneur_act:hover {
  background-color: #deebff;
  cursor: pointer;
}

.cadre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 6.25em;
}

.entier img {
  width: 20em;
  height: 22em;
  object-fit: cover;
}

.moitie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conteneur_act a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

.conteneur_act h3 {
  margin: 1.25em;
  font-weight: bold;
}

.img1 {
  width: 20em;
  height: 10em;
  object-fit: cover;
}

.img2 {
  width: 20em;
  height: 6em;
  object-fit: cover;
}

.img3 {
  width: 20em;
  height: 7em;
  object-fit: cover;
}

.img4 {
  width: 20em;
  height: 9em;
  object-fit: cover;
}

/* ---FOOTER--- */

footer {
  background-color: #f2f2f2;
}

#pied_de_page {
  display: flex;
  flex-direction: row;
  width: 1100px;
  margin: auto;
}

footer ul:nth-child(n + 2) {
  margin-left: 10em;
}

footer ul li:first-child {
  margin-bottom: 1.2em;
}

footer ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.8em;
}

footer ul li a:hover {
  text-decoration: underline;
}

/* ----------------------------- MOBILE < 688px ------------------------------------- */

@media all and (max-device-width: 688px) {
  
  body {
    width: auto;
    font-weight: normal;
  }

  header nav {
    flex-flow: row wrap;
  }
  
  nav a:nth-child(2) {
    order: 3
  }

  nav a:nth-child(3) {
    order: 4;
  }

  header nav a img {
    padding-right: 0px;
  }

  header nav a {
    flex: 1 40%;
    font-size: 3em;
    padding-right: 0px;
  }

  header nav .trait {
    padding-bottom: 1em;
    border-bottom:  10px solid  #F2F2F2;
    text-align: center;
  }

  header nav .inscription {
    text-align: right;
    margin-right: 1em;
  }
  header nav a:nth-child(2) {
    border-bottom:  10px solid  #0065fc;
    color: #0065fc;
  }

  

  /* ---------------- FILTRES ------------------------ */

  .titre_recherche {
    margin-left: 2em;
    margin-left: 2em;
  }

  #recherche {
    font-size: 2.5em;
  }

  .rechercher {
    display: none;
  }

  .loupe {
    display: inline;
  }

  #filtres {
    flex-direction: column;
    height: auto;
    width: auto;
    margin: 0 2em 4em 2em;
  }

  #filtres h3 {
    font-size: 4em;
  }

  .filtresboutton {
    font-size: 3.5em;
    margin-top: 1.5em;
  }


  /* ---------------- HEB + POP ---------------------- */

    h2 {
      font-size: 5em;
    }

    .titre_pop {
      font-size: 3em;
      justify-content: space-between;
      margin-right: 1em;
      margin-left: 1em;
    }

   body {
     width: auto;
   }

  #milieu_de_page {
    flex-direction: column-reverse;
  }

  #hebergements {
    background-color: white;
    border: none;
    width: auto;
    height: auto;
    justify-content: space-between;
    Margin-top: 2em;
  }

  .afficherplus {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
  }

  .afficherplus:hover {
    color: black;
    text-decoration: none;
  }

  .div-heb {
    display: block;
    font-size: 1.5em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .resume {
    font-size: 3em;
  }

  .resume i {
    font-size: 0.7em;
    margin-right: 1em;
  }

  #hebergements img {
    width: fit-content;
    height: 20em;
  }

  #populaires {
    width: auto;
    justify-content: space-between;
    height: auto;
  }

  .conteneur_bis {
    width: auto;
  }

  .colomne {
    align-items: stretch;
    height: auto;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 1em;
  }

  #populaires img {
    height: 25em;
    width: 25em;
  }

  #populaires .resume {
    font-size: 2.5em;
    line-height: 0.5em;
  }

  /* ---------------- ACTIVITES ---------------------- */

  .cadre {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 3em;
  }

  .cadre .moitie {
    justify-content: space-between;
    height: auto;
  }

  .cadre img {
    width: fit-content;
    height: 12em;
  }

  /* ---------------- FOOTER ------------------------- */

  #pied_de_page {
    flex-direction: column;
    height: 20em;
    font-size: 2em;
  }

  #pied_de_page ul {
    margin-top: auto;
  }

  footer ul:nth-child(n + 2) {
    margin: 0;
  }

  footer {
    width: auto;
  }

  footer ul li a:hover {
    text-decoration: none;
  }

}

/* --- TABLET < 992px --- */

/* --- SMALL SCREEN < 1312px --- */